html
  head
    meta(name="twitter:card" content="photo")
    meta(name="twitter:site" content="@atdxfe")
    meta(name="twitter:creator" content="@atdxfe")
    meta(name="twitter:title" content="Gyazo")
    meta(name="twitter:image:src" content="#{ImageSource}")
    meta(name="twitter:domain" content="#{Domain}")
  body
    img(src="#{ImageSource}")
